.header__search {
    width: 16px;
    height: 17px;

    padding: 0;

    border: none;

    background: none;
    background-image: url(../../../images/search.svg);
    background-repeat: no-repeat;
    background-size: contain;
}