.about__text {
    max-width: 270px;

    margin: 0;
    margin-bottom: 64px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #CECECE;
}